<a href="https://colab.research.google.com/github/elooo3/Automobile-Dataset/blob/main/Auto_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Written by Opeoluwa Obembe

1.   List item
2.   List item


## Date: 2020-11-21
### Project Name : Automobile Dataest

#### Project Objective: Predict Car Price from 25 given attributes
##### Project Type : Regression

## Step 1: Data Uploading and Cleaning: Data Preprocessing

In [3]:
# import libraries
!pip install category-encoders
import numpy as np
import scipy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import category_encoders as ce

%matplotlib inline

plt.rcParams['figure.figsize'] = (5.0, 4.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

print("Installtion completed successfully!")

Requirement already satisfied: category-encoders in /usr/local/lib/python3.6/dist-packages (2.2.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (1.1.4)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (1.18.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (1.4.1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (0.22.2.post1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category-encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category-encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category-encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category-encoders) (0.17.0)
Installtion completed successfully!

In [4]:
# Import dataset and peruse first 10 rows
data = pd.read_csv('imports-85.data',header = None,  sep = ',')
data.head(5)

   0    1            2    3    4     5   ...    20   21    22  23  24     25
0   3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  13495
1   3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  16500
2   1    ?  alfa-romero  gas  std   two  ...   9.0  154  5000  19  26  16500
3   2  164         audi  gas  std  four  ...  10.0  102  5500  24  30  13950
4   2  164         audi  gas  std  four  ...   8.0  115  5500  18  22  17450

[5 rows x 26 columns]

In [5]:
# Include column names

column_names = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style',
                'drive-wheels', 'engine-location', 'wheel-base','length', 'width', 'height',
                'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size','fuel-system',
                'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
                'highway-mpg','price']

print("The number of columns in my input column_names:" , len(column_names))

The number of columns in my input column_names: 26

In [6]:
# Join column names to dataframe
data.columns = column_names

data.to_csv('x123.csv')
data.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [7]:
# Check the shape of the dataframe and inspect for missing values

print( data.shape)
print("The number of rows in the dataframe", data.shape[0])
print("The number of columns in the dataframe", data.shape[1])

data.replace('?',np.NAN, inplace= True)


missing_values = data.isnull().sum().sum()

print("The total number of missing values" ,missing_values)

(205, 26)
The number of rows in the dataframe 205
The number of columns in the dataframe 26
The total number of missing values 59

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [9]:
# Check data types in order to correct if necessary
data.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [10]:
# Convert price column data to float type
data["price"].astype('float')

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [11]:
# Check for missing values in the price  column
data['price'].isnull().sum()

data.dropna(subset=['price'], axis = 0, inplace= True)

print("Misising values in price column in new dataframe is:", data['price'].isnull().sum())
data.reset_index(drop = True)

Misising values in price column in new dataframe is: 0

     symboling normalized-losses         make  ... city-mpg highway-mpg  price
0            3               NaN  alfa-romero  ...       21          27  13495
1            3               NaN  alfa-romero  ...       21          27  16500
2            1               NaN  alfa-romero  ...       19          26  16500
3            2               164         audi  ...       24          30  13950
4            2               164         audi  ...       18          22  17450
..         ...               ...          ...  ...      ...         ...    ...
196         -1                95        volvo  ...       23          28  16845
197         -1                95        volvo  ...       19          25  19045
198         -1                95        volvo  ...       18          23  21485
199         -1                95        volvo  ...       26          27  22470
200         -1                95        volvo  ...       19          25  22625

[201 rows x 26 columns]

In [12]:
# lET US CHECK PERCENTAGE OF DATA THAT HAVE MISSING VALUES
no_rows = data.shape[0]
no_cols = data.shape[1]
no_records = np.multiply(no_rows, no_cols)
print("The number of records is: ", no_records)
print("The number of missing values is :",missing_values)
number_records = np.multiply(data.shape[0], data.shape[1])

#percentMissing = (missing_values/number_records)*100
percentMissing = (missing_values/ np.product(data.shape))*100
print("The perecentage of missing values is:", percentMissing)

The number of records is:  5226
The number of missing values is : 59
The perecentage of missing values is: 1.1289705319556067

### Handling Missing Values

In [13]:
# Method 1 : Drop all missing values
df1 = data.copy()

# this drops rows with missing values
df_row_drop= df1.dropna(axis = 0)

# Print shape of dataframe
print(df1.shape)
print(df_row_drop.shape)

(201, 26)
(159, 26)

In [14]:

# this drops columns with missing values
df_col_drop= df1.dropna(axis = 1)

# Print shape of dataframe
print(df1.shape)
print(df_col_drop.shape)
print(df_col_drop.columns)

(201, 26)
(201, 20)
Index(['symboling', 'make', 'fuel-type', 'aspiration', 'body-style',
       'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width',
       'height', 'curb-weight', 'engine-type', 'num-of-cylinders',
       'engine-size', 'fuel-system', 'compression-ratio', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [15]:
# Method 2: Imputation

df2 = data.copy()

df2.isnull().sum()

symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [16]:
# Ensure proper dataypes
df2[['bore','stroke','horsepower','peak-rpm']] = df2[['bore','stroke','horsepower','peak-rpm']].astype('float')
df2['normalized-losses'] = df2['normalized-losses'].astype('float')
df2['price'] = df2['price'].astype('float')
df2.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [17]:
# Get numerical columns and categorical columns from dataframe
num_cols = df2.select_dtypes(include = ['float','int']).columns
category_cols = [col  for col in df2.columns if df2[col].dtype == "object"]
category_cols

print(category_cols)
print('-'*50)
print(num_cols)

['make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'engine-type', 'num-of-cylinders', 'fuel-system']
--------------------------------------------------
Index(['symboling', 'normalized-losses', 'wheel-base', 'length', 'width',
       'height', 'curb-weight', 'engine-size', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [18]:
# Handle/fill the missing values in the  numerical columns
df_num = df2[num_cols].copy()
#df_num.mean()
df_num.fillna(df_num.mean(), inplace = True)

df_num.isnull().sum()

symboling            0
normalized-losses    0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-size          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [19]:
# Handle/fill the missing values in the  numerical columns

for col in num_cols:
    df2[col].fillna(df2[col].mean(), inplace = True)

df2[num_cols].isnull().sum()

symboling            0
normalized-losses    0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-size          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [20]:
# Handle/fill the missing values in the  categorical columns

for col in category_cols:
    df2[col].fillna(df2[col].mode()[0], inplace = True)

df2[category_cols].isnull().sum()

# Confirm total missing values in dataframe
df2.isnull().sum().sum()

0

In [21]:
df2.head(10)
df2.to_csv('clean.csv')

In [22]:
dummy_variables1 = pd.get_dummies(df2['make'])
dummy_variables1

     alfa-romero  audi  bmw  chevrolet  ...  subaru  toyota  volkswagen  volvo
0              1     0    0          0  ...       0       0           0      0
1              1     0    0          0  ...       0       0           0      0
2              1     0    0          0  ...       0       0           0      0
3              0     1    0          0  ...       0       0           0      0
4              0     1    0          0  ...       0       0           0      0
..           ...   ...  ...        ...  ...     ...     ...         ...    ...
200            0     0    0          0  ...       0       0           0      1
201            0     0    0          0  ...       0       0           0      1
202            0     0    0          0  ...       0       0           0      1
203            0     0    0          0  ...       0       0           0      1
204            0     0    0          0  ...       0       0           0      1

[201 rows x 22 columns]

In [23]:
df2['make'].value_counts()[0:10]

toyota        32
nissan        18
mazda         17
honda         13
mitsubishi    13
volkswagen    12
subaru        12
volvo         11
peugot        11
dodge          9
Name: make, dtype: int64

In [24]:
df2['make'].value_counts()[0:5]

toyota        32
nissan        18
mazda         17
honda         13
mitsubishi    13
Name: make, dtype: int64

In [25]:
df2.head(10)

    symboling  normalized-losses         make  ... city-mpg highway-mpg    price
0           3              122.0  alfa-romero  ...       21          27  13495.0
1           3              122.0  alfa-romero  ...       21          27  16500.0
2           1              122.0  alfa-romero  ...       19          26  16500.0
3           2              164.0         audi  ...       24          30  13950.0
4           2              164.0         audi  ...       18          22  17450.0
5           2              122.0         audi  ...       19          25  15250.0
6           1              158.0         audi  ...       19          25  17710.0
7           1              122.0         audi  ...       19          25  18920.0
8           1              158.0         audi  ...       17          20  23875.0
10          2              192.0          bmw  ...       23          29  16430.0

[10 rows x 26 columns]

In [36]:
# Count Encoding
#Create the  Count encoder object
df2_ce = df2.copy()
count_enc = ce.CountEncoder()

# Apply the count encoder to dataframe
df2_ce[category_cols] = count_enc.fit_transform(df2_ce[category_cols]).add_suffix('_ce')
df2_ce.head(10)
df2_ce.to_csv('catENC.csv')

In [33]:
df2_ce.shape

(201, 26)

In [29]:
#  Method 2 : Target Encoder
df_le = df2.copy()
from sklearn.preprocessing import LabelEncoder

cat_features = category_cols

le = LabelEncoder()

# Apply the label encoder to each column
encoded = df_le[cat_features].apply(le.fit_transform)
encoded

     make  fuel-type  aspiration  ...  engine-type  num-of-cylinders  fuel-system
0       0          1           0  ...            0                 2            5
1       0          1           0  ...            0                 2            5
2       0          1           0  ...            4                 3            5
3       1          1           0  ...            2                 2            5
4       1          1           0  ...            2                 1            5
..    ...        ...         ...  ...          ...               ...          ...
200    21          1           0  ...            2                 2            5
201    21          1           1  ...            2                 2            5
202    21          1           0  ...            4                 3            5
203    21          0           1  ...            2                 3            3
204    21          1           1  ...            2                 2            5

[201 rows x 10 columns]

In [35]:
#  Method 2 : lABEL Encoder
df_le = df2.copy()
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_le[category_cols]= df_le[category_cols].apply(le.fit_transform)

df_le.head()
df_le.shape
df_le.to_csv('labelENC.csv')